* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00255f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00255f;
  padding: 15px 40px;
  margin: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 300px;
}

a{
  text-decoration: none;
  color: whitesmoke;
  margin:10px;
  font-size: 20px;
}

#lin{
  color: whitesmoke;
}

.navitens{
  margin-right: 400px;
}

.navitens2{
  color: white;
  padding: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemnav2{
  font-size: 70px;
}