* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00102e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00102e;
  padding: 30px 40px 30px ;
  width: 100%;
  border-bottom: 1px solid rgba(95, 93, 93, 0.568);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 300px;
}

a{
  text-decoration: none;
  color: whitesmoke;
  margin:10px;
  font-size: 20px;
}

.navitens{
  margin-right: 400px;
}

.nav2{
  color: white;
  padding: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemnav2{
  font-size: 70px;
}

.nav3 {
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b1{
    color: 1px solid #00102e ;
    border: solid rgb(247, 214, 29);
    background-color: rgb(247, 214, 29);
    font-size: 15px;
    height: 50px;
    width: 180px;
    margin-right: 25px;
}

.b2{
    color: white;
    background-color: #00102e;
    border: 1px solid white;
    font-size: 15px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.blocos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 180px;
}

.bl1{
    height: 250px;
    width: 330px;
    border: 1px solid white;
    margin-top: 20px;
    background-color: white;
}

.conteudobloc{
  text-align: left;
  margin-left: 20px;
  margin-top: 80px;
  color: #00102e;
}